In [1]:
from dask.distributed import Client
client = Client(n_workers=10)

import dask.dataframe as dd

2024-03-26 09:53:34,453 - distributed.diskutils - INFO - Found stale lock file and directory '/tmp/dask-worker-space/worker-jlmtyjpq', purging
2024-03-26 09:53:34,454 - distributed.diskutils - INFO - Found stale lock file and directory '/tmp/dask-worker-space/worker-eyxw2flg', purging
2024-03-26 09:53:34,455 - distributed.diskutils - INFO - Found stale lock file and directory '/tmp/dask-worker-space/worker-hwgy89oy', purging
2024-03-26 09:53:34,455 - distributed.diskutils - INFO - Found stale lock file and directory '/tmp/dask-worker-space/worker-iel96x5j', purging
2024-03-26 09:53:34,455 - distributed.diskutils - INFO - Found stale lock file and directory '/tmp/dask-worker-space/worker-w91ndhid', purging
2024-03-26 09:53:34,455 - distributed.diskutils - INFO - Found stale lock file and directory '/tmp/dask-worker-space/worker-4w2vd0h4', purging
2024-03-26 09:53:34,455 - distributed.diskutils - INFO - Found stale lock file and directory '/tmp/dask-worker-space/worker-3_nrrfbi', purging
2024-03-26 09:53:34,455 - distributed.diskutils - INFO - Found stale lock file and directory '/tmp/dask-worker-space/worker-hfe_2aym', purging
2024-03-26 09:53:34,455 - distributed.diskutils - INFO - Found stale lock file and directory '/tmp/dask-worker-space/worker-6zb3z4y2', purging
2024-03-26 09:53:34,456 - distributed.diskutils - INFO - Found stale lock file and directory '/tmp/dask-worker-space/worker-_d8m3dex', purging

In [2]:
data = dd.read_csv("data.csv")
data.index = data["Unnamed: 0"]

In [3]:
data.npartitions

42

In [4]:
data.head()

,Unnamed: 0,RunId,iteration,Step,Time_dicretization,numberofbullelephants,numberofherds,num_human_agents,Season,Jackfruit,...,Minutes,num_encounters,AgentID,Longitude,Latitude,mode,fitness,agress_factor,ROW,COL
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,5,10,0,0,NaN,NaN,...,0,0,bull_0,8.575832e+06,1.034210e+06,not_assigned,1.0,0.858455,504,390
1,1,0,0,0,5,10,0,0,NaN,NaN,...,0,0,bull_1,8.579597e+06,1.038989e+06,not_assigned,1.0,0.855489,370,496
2,2,0,0,0,5,10,0,0,NaN,NaN,...,0,0,bull_2,8.564113e+06,1.042791e+06,not_assigned,1.0,0.663150,263,61
3,3,0,0,0,5,10,0,0,NaN,NaN,...,0,0,bull_3,8.565214e+06,1.043797e+06,not_assigned,1.0,0.793286,235,92
4,4,0,0,0,5,10,0,0,NaN,NaN,...,0,0,bull_4,8.579880e+06,1.044758e+06,not_assigned,1.0,0.687874,208,504

In [5]:
data.tail()

,Unnamed: 0,RunId,iteration,Step,Time_dicretization,numberofbullelephants,numberofherds,num_human_agents,Season,Jackfruit,...,Minutes,num_encounters,AgentID,Longitude,Latitude,mode,fitness,agress_factor,ROW,COL
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
5405176,5405176,119,3,8804,5,10,0,0,NaN,NaN,...,44015,0,bull_6,8.562486e+06,1.033316e+06,TargetedMove,0.000519,0.962979,529,15
5405177,5405177,119,3,8805,5,10,0,0,NaN,NaN,...,44020,0,bull_6,8.562464e+06,1.033300e+06,TargetedMove,0.000403,0.962979,530,15
5405178,5405178,119,3,8806,5,10,0,0,NaN,NaN,...,44025,0,bull_6,8.562462e+06,1.033299e+06,TargetedMove,0.000287,0.962979,530,15
5405179,5405179,119,3,8807,5,10,0,0,NaN,NaN,...,44030,0,bull_6,8.562462e+06,1.033299e+06,TargetedMove,0.000171,0.962979,530,15
5405180,5405180,119,3,8808,5,10,0,0,NaN,NaN,...,44035,0,bull_6,8.562441e+06,1.033286e+06,TargetedMove,0.000056,0.962979,530,14

In [6]:
len(data)

5405181

In [7]:
data = data.repartition(npartitions = 50)

In [8]:
data.npartitions

50

In [9]:
#data.map_partitions(len).compute()

In [10]:
agent_data = data[data["AgentID"] == "bull_1" ]
agent_data = agent_data[agent_data["iteration"] == 0]
agent_data = agent_data[agent_data["RunId"] == 0]

In [11]:
agent_data.head()

,Unnamed: 0,RunId,iteration,Step,Time_dicretization,numberofbullelephants,numberofherds,num_human_agents,Season,Jackfruit,...,Minutes,num_encounters,AgentID,Longitude,Latitude,mode,fitness,agress_factor,ROW,COL
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,5,10,0,0,NaN,NaN,...,0,0,bull_1,8.579597e+06,1.038989e+06,not_assigned,1.000000,0.855489,370,496
11,11,0,0,1,5,10,0,0,NaN,NaN,...,0,0,bull_1,8.579597e+06,1.038989e+06,RandomWalk,0.996528,0.855489,370,496
21,21,0,0,2,5,10,0,0,NaN,NaN,...,5,0,bull_1,8.579597e+06,1.038989e+06,RandomWalk,0.993056,0.855489,370,496
31,31,0,0,3,5,10,0,0,NaN,NaN,...,10,0,bull_1,8.579597e+06,1.038989e+06,RandomWalk,0.989583,0.855489,370,496
41,41,0,0,4,5,10,0,0,NaN,NaN,...,15,0,bull_1,8.579597e+06,1.038989e+06,RandomWalk,0.986111,0.855489,370,496

In [12]:
#agent_data.map_partitions(len).compute()

In [13]:
agent_data = agent_data.repartition(npartitions = 1).persist()

In [14]:
agent_data.head()

,Unnamed: 0,RunId,iteration,Step,Time_dicretization,numberofbullelephants,numberofherds,num_human_agents,Season,Jackfruit,...,Minutes,num_encounters,AgentID,Longitude,Latitude,mode,fitness,agress_factor,ROW,COL
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
1,1,0,0,0,5,10,0,0,NaN,NaN,...,0,0,bull_1,8.579597e+06,1.038989e+06,not_assigned,1.000000,0.855489,370,496
11,11,0,0,1,5,10,0,0,NaN,NaN,...,0,0,bull_1,8.579597e+06,1.038989e+06,RandomWalk,0.996528,0.855489,370,496
21,21,0,0,2,5,10,0,0,NaN,NaN,...,5,0,bull_1,8.579597e+06,1.038989e+06,RandomWalk,0.993056,0.855489,370,496
31,31,0,0,3,5,10,0,0,NaN,NaN,...,10,0,bull_1,8.579597e+06,1.038989e+06,RandomWalk,0.989583,0.855489,370,496
41,41,0,0,4,5,10,0,0,NaN,NaN,...,15,0,bull_1,8.579597e+06,1.038989e+06,RandomWalk,0.986111,0.855489,370,496

In [15]:
agent_data.map_partitions(len).compute()

0    290
dtype: int64

In [16]:
len(agent_data)

290

In [17]:
start = agent_data["Unnamed: 0"].min().compute()
end = agent_data["Unnamed: 0"].max().compute()

In [18]:
print(start, end)

1 2890

In [19]:
agent_data = data[data["AgentID"] == "bull_0" ]
agent_data = agent_data[agent_data["iteration"] == 0]
agent_data = agent_data[agent_data["RunId"] == 0]

In [20]:
agent_data.head()

,Unnamed: 0,RunId,iteration,Step,Time_dicretization,numberofbullelephants,numberofherds,num_human_agents,Season,Jackfruit,...,Minutes,num_encounters,AgentID,Longitude,Latitude,mode,fitness,agress_factor,ROW,COL
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,5,10,0,0,NaN,NaN,...,0,0,bull_0,8.575832e+06,1.034210e+06,not_assigned,1.000000,0.858455,504,390
10,10,0,0,1,5,10,0,0,NaN,NaN,...,0,0,bull_0,8.575832e+06,1.034210e+06,RandomWalk,0.996528,0.858455,504,390
20,20,0,0,2,5,10,0,0,NaN,NaN,...,5,0,bull_0,8.575832e+06,1.034210e+06,RandomWalk,0.993056,0.858455,504,390
30,30,0,0,3,5,10,0,0,NaN,NaN,...,10,0,bull_0,8.575832e+06,1.034210e+06,RandomWalk,0.989583,0.858455,504,390
40,40,0,0,4,5,10,0,0,NaN,NaN,...,15,0,bull_0,8.575832e+06,1.034210e+06,RandomWalk,0.986111,0.858455,504,390

In [21]:
start = agent_data["Unnamed: 0"].min().compute()
end = agent_data["Unnamed: 0"].max().compute()

In [22]:
print(start, end)

0.0 2880.0